name: build
on:
  push:
  pull_request:
jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install deps
        run: sudo apt-get update && sudo apt-get install -y build-essential
      - name: Build
        run: make
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: sysmon-linux
          path: bin/sysmon
